<form action="/auth" method="post">
    <div class="mb-3">
        <input name="login" placeholder="Email" type="text" class="form-control">
    </div>
    <div class="mb-3">
        <input name="pass" placeholder="Пароль" type="password" class="form-control"></div>
    <div class="mb-3">
        <input type="submit" class="form-control btn btn-primary">
    </div>
</form>